In [1]:
import pandas as pd

In [2]:
prod=pd.read_csv(r'data\Rockcliff-20220707222136820-Production.csv')

In [7]:
Prod_2020=prod[prod['ReportYear']==2020].reset_index(drop=True)

In [17]:
Total_BOE=round((Prod_2020['TotalOil'].sum()+Prod_2020['TotalGas'].sum()/6000),2)

In [18]:
Total_BOE

232640.84

In [20]:
CO2=265994
CH4=164063
N20=479

In [21]:
No_Wells=910

In [38]:
BOE_Well_CO2=round((CO2/Total_BOE/No_Wells*100),2)
BOE_Well_CH4=round((CH4/Total_BOE/No_Wells*100),2)
BOE_Well_N20=round((N20/Total_BOE/No_Wells*100),4)

In [39]:
BOE_Well_CO2

0.13

In [40]:
BOE_Well_CH4

0.08

In [41]:
BOE_Well_N20

0.0002

In [ ]:
BOE

In [12]:
Prod_2020.head()

,API,ReportDate,TotalOil,TotalGas,TotalWater,ReportMonth,ReportYear,MonthNumber
0,4220333194,01/01/2020 00:00:00,6,2775,422.0,1.0,2020,156.0
1,4234733008,01/01/2020 00:00:00,0,1129,0.0,1.0,2020,129.0
2,4234732518,01/01/2020 00:00:00,5,2996,480.0,1.0,2020,153.0
3,4240134442,01/01/2020 00:00:00,0,3177,0.0,1.0,2020,148.0
4,4234732087,01/01/2020 00:00:00,0,1609,0.0,1.0,2020,174.0